@model IEnumerable<MoneyTracker.Domain.QueriesModel.AccountDto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @foreach (var account in Model)
    {
        <p>@account.AccountNumber</p>
    }
</body>
</html>
