@model MoneyTracker.Web.ViewModels.Salary.SalaryViewModel
@inject CurrencyViewHelper CurrencyViewHelper
@{
    Layout = "_Layout";
}

<form asp-controller="Salary" asp-action="AddSalary">
    <h6>Add salary</h6>

    <div>
        <div>
            <label asp-for="Salary.Amount"></label>
            <div>
                <input asp-for="Salary.Amount" type="number" />
            </div>

            <div>
                <select asp-for="Salary.Currency" asp-items="await CurrencyViewHelper.AllAsync()"></select>
            </div>
        </div>

        <div>
            <label asp-for="ReceivedAt"></label>
            <div>
                <input asp-for="ReceivedAt" />
            </div>
        </div>
    </div>

    <div>
        <button type="submit">Submit</button>
        <a asp-controller="Home" asp-action="Index">Back</a>
    </div>
</form>
