@model MoneyTracker.Web.Models.Purchase.PurchaseViewModel
@inject CurrencyViewHelper CurrencyViewHelper
@{
    Layout = "_Layout";
}

<form role="form" method="post" asp-controller="Purchase" asp-action="Create">
    <h3>Add purchase</h3>

    <div class="row form-group">
        <div class="col-md-8">
            <label asp-for="SpentAt" class="control-label"></label>
            <div class="input-group date datepicker">
                <input type="text" asp-for="SpentAt" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <label asp-for="Currency" class="control-label"></label>
            <select asp-for="Currency" asp-items="await CurrencyViewHelper.AllAsync()" class="form-control"></select>
        </div>
    </div>

    @if (Model.Purchases.Any())
    {
        <div class="row form-group">
            <div class="col-md-8"><strong>Title</strong></div>
            <div class="col-md-4"><strong>Amount</strong></div>
        </div>
    }

    @for (var index = 0; index < Model.Purchases.Count; index++)
    {
        <div class="row form-group">
            <div class="col-md-8">
                <input asp-for="Purchases[index].Title" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                <input asp-for="Purchases[index].Amount" type="number" class="form-control" />
            </div>
            <div class="col-md-2">
                <button type="submit" asp-controller="Purchase" asp-action="RemoveItem" name="index" value="@index" class="btn btn-block btn-warning">
                    <b class="glyphicon glyphicon-remove"></b>
                    <span>Remove item</span>
                </button>
            </div>
        </div>
    }

    <div class="row form-group">
        <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-success">Submit</button>
        </div>
        <div class="col-md-2">
            <a asp-controller="Balance" asp-action="Index" class="btn btn-block btn-link">Back</a>
        </div>
        <div class="col-md-2 col-md-offset-6">
            <button asp-controller="Purchase" asp-action="AddItem" type="submit" class="btn btn-block btn-success">
                <b class="glyphicon glyphicon-plus"></b>
                <span>Add item</span>
            </button>
        </div>
    </div>
</form>
