@model MoneyTracker.Web.ViewModels.Purchase.PurchaseViewModel
@inject CurrencyViewHelper CurrencyViewHelper
@inject IViewLocalizer Localizer
@{
    Layout = "_Layout";
    var message = Model.IsNew ? Localizer["AddPurchase_Title"] : Localizer["UpdatePurchase_Title"];
}

<form role="form" method="post" asp-controller="Purchase">
    <input asp-for="PurchaseId" type="hidden" />
    <input asp-for="IsNew" type="hidden" />

    <h3>@message</h3>

    <div class="row">
        <div class="col-md-8 form-group">
            <label asp-for="SpentAt" class="control-label"></label>
            <div class="input-group date datepicker">
                <input type="text" asp-for="SpentAt" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <label asp-for="Currency" class="control-label"></label>
            <select asp-for="Currency" asp-items="await CurrencyViewHelper.AllAsync()" class="form-control"></select>
        </div>
    </div>

    @if (Model.Purchases.Any())
    {
        <div class="row form-group hidden-sm">
            <div class="col-md-6"><strong>Title</strong></div>
            <div class="col-md-2"><strong>Amount</strong></div>
            <div class="col-md-2"><strong>Discount</strong></div>
        </div>
    }

    @for (var index = 0; index < Model.Purchases.Count; index++)
    {
        <div class="row">
            <div class="col-md-6 col-sm-12 form-group">
                <input asp-for="Purchases[index].PurchaseItemId" type="hidden" class="form-control" />
                <label asp-for="Purchases[index].Title" class="control-label visible-sm"></label>
                <input asp-for="Purchases[index].Title" type="text" class="form-control" />
            </div>
            <div class="col-md-2 col-sm-4 form-group">
                <label asp-for="Purchases[index].Amount" class="control-label visible-sm"></label>
                <input asp-for="Purchases[index].Amount" type="number" class="form-control" min="0" step=".01" />
            </div>
            <div class="col-md-2 col-sm-4 form-group">
                <label asp-for="Purchases[index].Discount" class="control-label visible-sm"></label>
                <input asp-for="Purchases[index].Discount" type="number" class="form-control" min="0" step=".01" />
            </div>
            <div class="col-md-2 col-sm-4 form-group">
                <label class="control-label visible-sm">&nbsp;</label>
                <button type="submit" asp-action="RemoveItem" name="index" value="@index" class="btn btn-block btn-warning">
                    <b class="glyphicon glyphicon-remove"></b>
                    <span>@Localizer["RemoveItem_Button"]</span>
                </button>
            </div>
        </div>
    }

    <div class="row form-group">
        <div class="col-md-2 col-sm-4">
            <button type="submit" class="btn btn-block btn-success">Submit</button>
        </div>
        <div class="col-md-2 col-sm-4">
            <a asp-controller="Home" asp-action="Index" class="btn btn-block btn-link">Back</a>
        </div>
        <div class="col-md-2 col-sm-4 col-md-offset-6">
            <button asp-action="AddItem" type="submit" class="btn btn-block btn-success">
                <b class="glyphicon glyphicon-plus"></b>
                <span>@Localizer["AddItem_Button"]</span>
            </button>
        </div>
    </div>
</form>
