@model PurchaseViewModel
@{
    Layout = "_Layout";
}

<form asp-controller="Balance" asp-action="AddPurchase">
    <p>Add purchase</p>

    <div>
        <div>
            <label asp-for="Purchase"></label>
            <input asp-for="Purchase.Amount" />
        </div>

        <div>
            <label asp-for="Purchase.Currency"></label>
            <input asp-for="Purchase.Currency" />
        </div>
    </div>
    <div>
        <label asp-for="SpentAt"></label>
        <input asp-for="SpentAt" type="datetime" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
