@model MoneyTracker.Web.Models.Balance.SalaryViewModel

@{
    Layout = "_Layout";
}

<form asp-controller="Balance" asp-action="AddSalary">
    <p>Add salary</p>

    <div>
        <div>
            <label asp-for="Salary.Amount"></label>
            <input asp-for="Salary.Amount" type="number" />
        </div>
        <div>
            <label asp-for="Salary.Currency"></label>
            <input asp-for="Salary.Currency" />
        </div>
    </div>
    <div>
        <label asp-for="ReceivedAt"></label>
        <input asp-for="ReceivedAt" type="datetime" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>