@model MoneyTracker.Domain.ReadModel.BalanceDetailsDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <a asp-action="AddPurchase">Add purchase</a>
</div>

<div>
    <a asp-action="AddSalary">Add salary</a>
</div>